
<div class="container d-flex">
  <div class="bookings-container">

    <div class="bookings-header">
      <h3>Your bikes for rent <i class="fas fa-user-alt"></i> <i class="fas fa-arrow-right"></i> <i class="fas fa-bicycle"></i></h3>
    </div>
    <% @bookings_as_owner.each do |booking| %>
    <div class="card-booking mb-4">
      <%= cl_image_tag booking.bike.photo.key, crop: :fill %>
      <div class="card-booking-infos text-align-left">
        <div class="d-flex justify-content-between">
         <h2>€<%= booking.total_price %></h2>
         <% if booking.status == "accepted" %>
         <i class="fas fa-circle" id="status-bubble" style="color: #99C2A2; font-size: 20px"></i>
         <% elsif booking.status == "pending" %>
         <i class="fas fa-circle" id="status-bubble" style="color: orange; font-size: 20px"></i>
         <% else %>
         <i class="fas fa-circle" id="status-bubble" style="color: #ca3c25; font-size: 20px"></i>
         <% end %>
       </div>
       <h2>Dates: <%= booking.start_date %> - <%= booking.end_date %></h2>
       <p><i class="fas fa-map-marked-alt"></i> <%= booking.bike.address %></p>

       <div class="d-flex justify-content-end mt-1" id="booking-buttons">
          <%= link_to booking_path(booking, query: "accept"), method: :patch do %>
          <div class="btn btn-accept mr-1">Accept</div>
          <% end %>
          <%= link_to booking_path(booking, query: "reject"), method: :patch do %>
          <div class="btn btn-reject">Reject</div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>

  </div>

<div class="bookings-container">
  <div class="bookings-header">
    <h3>Your upcoming bookings <i class="fas fa-bicycle"></i> <i class="fas fa-arrow-right"></i> <i class="fas fa-user-alt"></i></h3>
  </div>
  <% @bookings_as_renter.each do |booking| %>
  <div class="card-booking mb-4">
    <%= cl_image_tag booking.bike.photo.key, crop: :fill %>
    <div class="card-booking-infos text-align-left">
      <div class="d-flex justify-content-between">
       <h2>€<%= booking.total_price %></h2>
       <% if booking.status == "accepted" %>
       <i class="fas fa-circle" id="status-bubble" style="color: #99C2A2; font-size: 20px"></i>
       <% elsif booking.status == "pending" %>
       <i class="fas fa-circle" id="status-bubble" style="color: orange; font-size: 20px"></i>
       <% else %>
       <i class="fas fa-circle" id="status-bubble" style="color: #ca3c25; font-size: 20px"></i>
       <% end %>
     </div>
     <h2>Dates: <%= booking.start_date %> - <%= booking.end_date %></h2>
     <p><i class="fas fa-map-marked-alt"></i> <%= booking.bike.address %></p>

   </div>
 </div>
  </div>
  <% end %>
</div>
