<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>BikeBNB Dashboard</title>
  <meta name="description" content="BikeBNB Dashboard">

  <%# <link rel="stylesheet" href="#"> %>

</head>

<body>
<div class="dashboard-container">
  <div class="bikes-container">
    <div class="user_bikes">
      <%# This will contain the list of the logged-in user's bikes %>
      <h3>Your bikes:</h3>
      <div class='card-bike'>I am a card</div>
      <br>
      <div class='card-bike'>I am a card</div>
      <br>
      <div class='card-bike'>
        <div class="card-bike-infos">
        <div>
          <h2>A little description for this awesome bike:</h2>
          <p>Category: <%= @bike.category %></p>
          <p>Brand: <%= @bike.brand %></p>
          <p>Status: <%= @bike.status %></p>
          <p>Number of gears: <%= @bike.number_of_gears %></p>
          <p>Address of the bike: <%= @bike.address %></p>
        </div>
        <div>
          <h2 class="card-bike-pricing"><%= @bike.price_per_day %>€ per day</h2>
         <!--  <button type="button" class="btn btn-success m-3">Book bike</button> -->
        </div>
        <%= cl_image_tag @bike.user.photo.key, crop: :fill, class:"card-bike-user avatar-bordered" %>
        <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-bike-user avatar-bordered" /> -->
      </div>
    </div>
      </div>
    </div>
  </div>

  <div class="booking-container">
    <div class="user_bookings">
      <%# This will contain the list of booking made by the logged-in user %>
      <h3>Your bookings:</h3>
    </div>
  </div>
</div>

</body>

</html>