<div class="container mt-4 mb-4">
  <h1>Have a look at the beautiful bikes we have to offer</h1>
</div>

<div class="container d-flex mb-4">
  <div class="container all-bikes">
    <div class="cards">
      <% @bikes.each do |bike| %>
        <%= link_to bike_path(bike) do %>
        <div class="card-trip">
          <% if bike.photo.attached? %>
          <%= cl_image_tag bike.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= bike.category %></h2>
              <p>Brand: <%= bike.brand %></p>
              <% if bike.status == "available" %>
                <div class="d-flex align-items-center">
                  <p>Current status  </p>
                  <i class="fas fa-circle" style="color: #99C2A2; font-size: 12px"></i>
                </div>
              <% else %>
                <div class="d-flex align-items-center">
                  <p>Current status  </p>
                  <i class="fas fa-circle" style="color: #ca3c25; font-size: 12px"></i>
                </div>
              <% end %>
            </div>
            <%= cl_image_tag bike.user.photo.key, crop: :fill, class:"card-trip-user avatar-bordered" %>
            <h2>€<%= bike.price_per_day %></h2>
          </div>
        </div>
        <% end %>
      <% end  %>
    </div>
  </div>

<!-- <div class = "container mb-4">
  <h2><em>Or pick a location</em></h2>
-->
  <div id="map"
  style="width: 50%"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<!-- </div>
-->
