<header class="banner-new-bike">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
      </div>
    </div>
  </div>
</header>

<div class="container mt-4 mb-4" id="new-bike-form">
  <h3 style="text-align:center">Add your bike</h3>
  <h5 style="text-align:center" class="mb-2">(and earn money while sleeping)</h5>

  <%= simple_form_for(@bike) do |f| %>
  <%= f.input :photo, as: :file %>
  <%= f.input :description, label: "Describe your bike" %>
  <%= f.input :price_per_day, label: "Price per day (EUR)", input_html: { min: '0'} %>
  <%= f.input :brand %>
  <%= f.input :address %>
  <%= f.input :category, :collection => Bike::CATEGORIES %>
  <%= f.input :brake_type, :collection => Bike::BRAKES %>
  <%= f.input :number_of_gears, input_html: { min: '0'} %>
  <%= f.input :status, :collection => Bike::AVAILABLE, as: :radio_buttons, :checked => Bike::AVAILABLE.first %>
  <%= f.button :submit, value: "Add Bike", class: "btn-green-filled" %>
  <% end %>
</div>
