<div class="container">
<h1>This is the show page </h1>
  <p>Category: <%= @bike.category %></p>
  <p>Brand: <%= @bike.brand %></p>
  <p>Price per day: <%= @bike.price_per_day %></p>
  <p>Status: <%= @bike.status %></p>
  <p>Number of gears: <%= @bike.number_of_gears %></p>
</div>
