
<div class="container">
  <%= simple_form_for [@bike, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Book now", class: "btn btn-success" %>
  <% end %>
</div>

<div class="container d-flex">
  <div class="card-bike m-5">
   <div class="card-bike-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @bike.photo.key, height: 300, crop: :fill %>')">
   </div>
    <!-- <img src="https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" /> -->
    <div class="card-bike-infos">
      <div>
        <h2>A little description for this awesome bike</h2>
        <p> <i class="fas fa-bicycle"></i> <%= @bike.category %></p>
        <p><i class="fas fa-tag"></i> Brand: <%= @bike.brand %></p>
        <p><i class="fas fa-circle" style="color: #99C2A2; font-size: 12px"></i> <%= @bike.status %></p>
        <p><i class="fas fa-cogs"></i> Number of gears: <%= @bike.number_of_gears %></p>
        <p><i class="fas fa-map-marked-alt"></i> <%= @bike.address %></p>
      </div>
      <div>
        <h2 class="card-bike-pricing"><%= @bike.price_per_day %>€ per day</h2>
        <!--  <button type="button" class="btn btn-success m-3">Book bike</button> -->
      </div>
    </div>
  </div>

  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


<div class="m-5" >
  <%= link_to "Back to index", bikes_path, class: "btn btn-flat" %>
</div>
